@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Index";
}


@if (Model.Count() > 0)
{
    <h1>All Users</h1>
    <br />
    <br />

    <div class="row mt-5 mb-3">
        <form asp-action="Index" class="row">
            <div class="col-8">
                <input type="text" name="SearchValue" placeholder="UserEmail" />
            </div>
            <div class="col-4">
                <input type="submit" value="Search" />
            </div>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(U=>U.Id)</td>
                <td>@Html.DisplayNameFor(U=>U.Fname)</td>
                <td>@Html.DisplayNameFor(U=>U.Lname)</td>
                <td>@Html.DisplayNameFor(U=>U.Email)</td>
                <td>@Html.DisplayNameFor(U=>U.PhoneNumber)</td>
                <td>@Html.DisplayNameFor(U=>U.Roles)</td>
                <td>Details</td>
                <td>Update</td>
                <td>Delete</td>

            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Fname</td>
                    <td>@user.Lname</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@string.Join(",",user.Roles)</td>
                    <partial name="_ButtonPartialView" model="@user.Id" />
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-warning">
        <h3>There Is No Users</h3>
    </div>
}

